table.usersTable, .cb-container, .r-header > button, .r-header > input, .form {
    margin: 1%;
}

body {
    opacity: 60%;
}

.r-header > button, .btn-confirm{
    background-color: rgb(66, 133, 244);

}

.r-header > input,.r-header > button {
    border: 1px solid lightgray;
    padding: 10px;
    display:block;
    border-radius: 3px;
}

input.form {
    border: 1px solid lightgray;
    border-radius: 3px;
}

.r-header span, .btn-confirm {
    color: whitesmoke;
}

td, th{
    text-align: left;
    flex-basis: 20%;
}

tr {
    width: 80%;
    border-bottom: 1px solid lightgray;
}

table {
    width: 90%;
}

.cb-container, tr, .r-header {
    display: flex;
    gap: 2%;
}

.r-header {
    position: absolute;
    width: 30%;
    right: 20%;
    top: 5px;
}
